# Environment variables
.env
.cursor/

# Virtual environment
.venv/
venv/
*.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
traces/

# Build artifacts
build/
dist/
*.egg-info/

constraints-adk-*.txt
adk_project_roadmap.md